.favorites_title {
    color: var(--color-main);
}

.Favorites {
    display: flex;
    gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    color: var(--color-main);
}

.spinner {
    margin: 0 auto;
}

.name_page {
    font-family: Poppins;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--color-main);
}