*, * ::before, * ::after {
    box-sizing: border-box;
}

.main {
    text-align: center;
    color: var(--color-main);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

}

.title {
    font-size: 64px;
    margin-bottom: 16px;
}

.search {
    display: flex;
    flex-direction: column;
    margin-bottom: 75px;   
    text-align: left;
}
.search_text {
    font-size: 16px;
    white-space: pre;
    color: var(--color-secondary);
}

.search_input_button {
    margin-bottom: 60px;
}
.input_group {
    max-width: 384px;
    height: 64px;
}


.input_group_input {
    background: var(--input-background) !important;
    color: var(--color-main) !important;
}

.input_group :hover {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}

.input_group_input::placeholder {
    color: var(--input-placeholder-color) !important;
}

.form {
    display: flex;
    gap: 10px;
    width: 700px;
    margin: 0 auto;
}

.films_content {
    margin: 0;
    padding: 0;
}
.films {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.spinner  {
    margin-left: 600px;
}

.has_error_message {
    text-align: center;
    margin-top: 200px;
    color: var(--color-main);
}


