.spinner {
    margin: 0 auto;
}

.loader {
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}

.link__wrapper {
    margin-left: 120px;
}

.link {
    text-decoration: none;
}

.btnback {
    margin-left: 100px;
    width: 200px;
}

.poster__wrapper {
    display: flex;
    align-items: flex-start;
    margin: 50px;
}

.poster {
    display: block;
    width: 300px;
    height: 444px;
}

.film {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'serif', sans-serif;
    font-weight: 600;
    margin-left: 80px;
    max-width: 1300px;
    border: 10px solid grey;
    border-radius: 7px;
    color: var(--color-main);
}

.film__detail > *:last-child { 
    /* border: 1px solid red ; */
}

.film > * {
    padding: 10px;
} 

