.card {
    border-radius: 12px;
    text-align: left;
    margin-bottom: 16px;
    position: relative;
}

.card:not(:nth-child(4n)) {
    margin-right: 24px;
}

.blur_background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.card__content {
    display: flex;
    flex-direction: column;
    width: 266px;
    position: relative;
    z-index: 2;
    padding: 8px;    
}

.card__image {
    width: 266px;
    height: 400px;
    background-size: cover;
    border-radius: 12px;
    margin-bottom: 20px;
    z-index: 0;
}

.card__title {
    font-size: 16px;
    display: block;
    text-decoration: none;
    color: var(--color-main);
    margin-bottom: 16px;
}

.card__favorite {
    color: #7b6ff6;
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;
    margin-bottom: 16px;
}

.card__favorite__checked {
    color: #37d8a7;
}
