.navbar {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    gap: 40px;
    background-color: #c3aed6;
    flex-direction: row;
    align-items: center;
}

.tabs {
    display: flex;
    gap: 12px;
}

.settings {
    display: flex;
    align-items: center;
    gap: 40px;
}

.settings__languages {
    margin-bottom: 12px;
}

.form {
    max-width: 100px;
    margin-top: 5px
}

.switch {
    scale: 1.4;
}

.theme_toggler {
    display: flex;
    flex-direction: column;
}

.theme_toggler__icon {
    text-align: center;
    margin-bottom: 12px;
}

.content {
    flex: 1;
    padding: 12px;
    background: var(--background-main);
}