.page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
    border: 1px solid red;
    background: var(--background);
    background-image: var(--background-image);
}

.page__content {
    width: 1200px;
    margin: 0 auto;
    border: 1px solid green;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    border: 1px solid white;
}

.settings {
    display: flex;
    align-items: center;
    gap: 40px;
}

.settings__languages {
    margin-bottom: 12px;
}

.form {
    max-width: 100px;
    margin-top: 5px
}

.switch {
    scale: 1.4;
}

.theme_toggler {
    display: flex;
    flex-direction: column;
}

.theme_toggler__icon {
    text-align: center;
    margin-bottom: 12px;
}

.content {
    flex: 1;
    padding: 12px;
}

.favorits {
    display: flex;
    gap: 10px;
}
.favorits__count {
    /* display: flex; */
    /* width: 24px; */
    /* height: 24px; */
    /* border-radius: 10%; */
    /* background-color: blueviolet; */
}

.favorits_count__number {
    display: table-cell;
    width: 24px;
    text-align: center;
    height: 24px;
    border-radius: 50%;
    background-color: blueviolet;
}

.log_in {
    display: flex;
    flex-direction: row;
    /* margin-right: 10px; */
}

.img__log_in {
    margin-left: 10px;
}