.navbar {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 40px;
    background-color: #c3aed6;
    justify-content: center;

    h1 {
        margin: 0;
    }

    p {
        margin: 0;
    }
    button {
        background-color: rgb(75, 112, 182);
    }
}

.content {
    flex: 1;
    padding: 12px;
    background: rgb(115, 173, 115);
}
