.cards {
    width: 18rem;
}

.star {
    position: absolute;
    width: 50px;
    cursor: pointer;
    top: 10px;
    right: 30px;
    border: 1px solid #ef00ff;
    border-radius: 50%;
    
    background-color: antiquewhite;
}

.checked {
    background-color: yellow;
}

