:root[data-theme="light"] {
  --color-main: black;
  --color-secondary: #5e5e5e;
  --background: #ffff;
  --background-image: url('/Background_main.png');

  --input-background: #ccc;
  --input-placeholder-color: white;
}

:root[data-theme="dark"] {
  --color-main: white;
  --color-secondary: #A8AEBF;
  --background: #121829;
  --background-image: url('/Background_main.png');

  --input-background: #0d2034;
  --input-placeholder-color: #465068;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: none;

    font-family: "Playfair Display", serif;
}

#root {
    height: 100%;
}

Main {
  background-image: url(/Like.svg);
}
