:root[data-theme="light"] {
  --color-main: black;
  --background: #ffff;
}

:root[data-theme="dark"] {
  --color-main: white;
  --background: #121829;
  --background-image: url('/Background_main.png');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    background: none;

    font-family: "Playfair Display", serif;
}

#root {
    height: 100%;
}